.home.card-group {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 10px;
  flex: 1;
  min-width: calc(100% / 6 - 20px);
  max-width: calc(100% / 6 - 20px);
  background-color: transparent;
  cursor: pointer;
}

.home.card img {
  width: 100%;
  height: auto;
  aspect-ratio: 5/3;
  object-fit: cover;
  border-radius: 10px;
}

.home#description {
  margin-top: 16px;
  display: flex;
  justify-content: left;
  width: 100%;
}

.home#description img {
  width: 36px;
  height: 36px;
  margin: 0 12px 0 0;
  object-fit: cover;
  border-radius: 100%;
}
.home#description #title p {
  margin: 0;
  font-size: 16px;
  color: white;
}

.home#description #detail p {
  margin: 0;
  font-size: 12px;
  color: gray;
}

@media (max-width: 2050px) {
  .home.card {
    min-width: calc(100% / 5 - 20px);
    max-width: calc(100% / 5 - 20px);
  }
}

@media (max-width: 1750px) {
  .home.card {
    min-width: calc(100% / 4 - 20px);
    max-width: calc(100% / 4 - 20px);
  }
}

@media (max-width: 1400px) {
  .home.card {
    min-width: calc(100% / 3 - 20px);
    max-width: calc(100% / 3 - 20px);
  }
}

@media (max-width: 1050px) {
  .home.card {
    min-width: calc(100% / 2 - 20px);
    max-width: calc(100% / 2 - 20px);
  }
}

@media (max-width: 650px) {
  .home.card {
    min-width: calc(100% - 20px);
    max-width: calc(100% - 20px);
  }
}
