body {
    padding: '0';
    margin: 0;
    background-color: #0f0f0f;
    color: white;
}

p {
    font-size: 10px;
}

a{
    color:white;
}

/*◢◤◢◤◢◤◢◤◢◤◢◤◢◤◢◤トップバー◢◤◢◤◢◤◢◤◢◤◢◤◢◤◢◤◢◤*/
#topbar {
    background-color: #0f0f0f;
    width: 100vw;
    height: 56px;
    padding: 0 16px;
    box-sizing: border-box;

    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#topbar .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#topbar .button {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*◢◤◢◤◢◤◢◤◢◤◢◤◢◤◢◤サイドバー◢◤◢◤◢◤◢◤◢◤◢◤◢◤◢◤◢◤*/
#sidebar {
    padding: 0 8px;
    position: fixed;
    left: 0;
    top: 56px;
}

#sidebar .button {
    width: 64px;
    height: auto;
    padding: 16px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

/*◢◤◢◤◢◤◢◤◢◤◢◤◢◤◢◤コンテンツ◢◤◢◤◢◤◢◤◢◤◢◤◢◤◢◤◢◤*/
#content {
    height: auto;
    margin-left: 80px;
    margin-top: 56px;
    flex-grow: 1;
}

.card-group {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 10px;
    flex: 1;
    min-width: calc(100%/6 - 20px);
    max-width: calc(100%/6 - 20px);
    background-color: #0f0f0f;
}

.card img {
    width: 100%;
    height: auto;
    aspect-ratio: 5/3;
    object-fit: cover;
    border-radius: 10px;
}

.card #description {
    display: flex;
    justify-content: left;
    width: 100%;
}

.card #description img {
    width: 36px;
    height: 36px;
    margin: 12px 12px 0 0;
    object-fit: cover;
    border-radius: 100%;
}

.card #description p {
    flex-grow: 1;
    font-size: 16px;
}

@media (max-width: 2050px) {
    .card {
        min-width: calc(100%/5 - 20px);
        max-width: calc(100%/5 - 20px);
    }
}

@media (max-width: 1750px) {
    .card {
        min-width: calc(100%/4 - 20px);
        max-width: calc(100%/4 - 20px);
    }
}

@media (max-width: 1400px) {
    .card {
        min-width: calc(100%/3 - 20px);
        max-width: calc(100%/3 - 20px);
    }
}

@media (max-width: 1050px) {
    .card {
        min-width: calc(100%/2 - 20px);
        max-width: calc(100%/2 - 20px);
    }
}

@media (max-width: 650px) {
    .card {
        min-width: calc(100% - 20px);
        max-width: calc(100% - 20px);
    }
}